.main {
    padding: 25px;
}
.container {
    max-width: 90%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container {
    min-width: 50%;
}
.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn-form {
    width: 100%;
}
.header_link {
    color: black;
    text-decoration: none;
    display: block;
}