.main {
    padding: 25px;
}
.container {
    width: 90%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container {
    width: 70%;
}
.btn-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#btn-form,
#btn-preview {
    width: 40%;
}
.header_link {
    color: black;
    text-decoration: none;
    display: block;
}
.pages {
    display: flex;
}
.page_link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1px solid #959595;
    border-radius: 5px;
    margin: 3px;
    text-decoration: none;
    color: #000;
    transition: all ease-out .2s;
}
.page_link:hover {
    background-color: #4c4c4c;
    color: #fff;
}
.preview {
    background-color: #84848470;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: none;
    z-index: 100;
}
.preview_message_container {
    background-color: #fff;
    padding: 30px 50px;
    border-radius: 10px;
    position: relative;
}
.preview_message {
    margin-top: 250px;
    min-width: 90%;
}
.preview_content {
    margin-bottom: 50px;
    width: 100%;
}
.preview_buttons {
    display: flex;
    justify-content: space-evenly;
}
.preview_without_required_fields {
    display: none;
}
.close_button {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30px;
    right: 40px;
    opacity: .3;
    cursor: pointer;
    transition: all .3s ease;
}
.close_button:hover {
    opacity: 1;
}
.close_button::before,
.close_button::after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 30px;
    width: 2px;
    background-color: #333;
}
.close_button::before {
    transform: rotate(45deg);
}
.close_button::after {
    transform: rotate(-45deg);
}
.image-preview {
    width: 300px;
    min-height: 100px;
    border: 2px solid #ddd;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    /*Default text-style*/
    color: #959595;
    font-weight: bold;
}
.image-preview__image {
    display: none;
    width: 100%;
}
.del-button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #e1e1e1;
    position: absolute;
    right: -13px;
    top: -13px;
    cursor: pointer;
    transition: all .5s ease;
    display: none;
}
.del-button::before,
.del-button::after {
    position: absolute;
    left: 12px;
    top: 1px;
    content: ' ';
    height: 23px;
    width: 1px;
    background-color: #333333ba;
}
.del-button::before {
    transform: rotate(45deg);
    transition: width, height .5s ease;
}
.del-button::after {
    transform: rotate(-45deg);
    transition: all .5s ease;
}
.del-button:hover {
    width: 85px;
    border-radius: 10%;
}
.del-button:hover::before,
.del-button:hover::after {
    width: 0;
    height: 0;
}
.del-button:hover::before {
    content: 'Удалить';
    transform: rotate(0);
    left: 11px;
}
.table-container {
    flex-direction: column;
}
.table-search {
    width: 50%;
    margin-bottom: 20px;
    position: relative;
}
.table-search__warning {
    position: absolute;
    width: 250px;
    background-color: aqua;
    border-radius: 5px;
    padding: 10px;
    top: 17px;
    right: -195px;
    display: none;
}
.table-search__button:hover .table-search__warning {
    display: block;
}
.nav-elem {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header-links {
    display: flex;
}
a {
    text-decoration: none;
}
.log-in-btn {
    margin-right: 15px;
}
.log-in-btn,
.sign-in-btn {
    padding: 0;
}
.log-in-btn__text,
.sign-in-btn__text {
    color: #fff;
    padding: 8px;
    display: block;
    height: 100%;
}
.log-in-btn__text:hover,
.sign-in-btn__text:hover {
    color: #fff;
}
.success-save-message {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #959595a3;
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
}
.success-save-message-container {
    width: 80%;
    background: #ffffff;
    border-radius: 20px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.success-save-message-container-header {
    margin-bottom: 20px;
}
.success-save-message-close_button {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30px;
    right: 40px;
    opacity: .3;
    cursor: pointer;
    transition: all .3s ease;
}
.success-save-message-close_button:hover {
    opacity: 1;
}
.success-save-message-close_button::before,
.success-save-message-close_button::after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 30px;
    width: 2px;
    background-color: #333;
}
.success-save-message-close_button::before {
    transform: rotate(45deg);
}
.success-save-message-close_button::after {
    transform: rotate(-45deg);
}
.log-out-container {
    display: flex;
    width: 195px;
    justify-content: space-between;
    align-items: center;
}